﻿@model IEnumerable<WebApp.Models.Employee>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployeeMaster</title>
</head>
<body>
    <div> 
        @*@ViewBag.Message*@
        <table id="Emp_DataTable">
            <thead>
                <tr>
                    <th>Employee Id</th>
                    <th>Employee Name</th>
                    <th>Gender</th>
                    <th>Mobile No</th>
                    <th>Email Id</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var emp in Model)
                {
                    <tr>@emp.EmployeeId</tr>
                    <tr>@emp.EmployeeName</tr>
                    <tr>@emp.Gender</tr>
                    <tr>@emp.MobileNo</tr>
                    <tr>@emp.EmailId</tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $(Emp_DataTable).DataTable();
        });
    </script>

    }